name: test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main, feature/* ]

  workflow_dispatch:

jobs:
  build:
    runs-on: macOS-latest

    steps:
      - uses: actions/checkout@v4

      - name: Test
        run: xcodebuild test -project yorunote.xcodeproj/ -scheme yorunote -resultBundlePath TestResults.xcresult -sdk iphonesimulator -destination "platform=iOS Simulator,name=iPhone 16" -testPlan yorunoteTest
        
      - uses: kishikawakatsumi/xcresulttool@v1
        with:
          path: TestResults.xcresult
        if: success() || failure()